body {
    
}

#main   {
    width: 500px;
    height: 500px;
    background-color: lightblue;
    border:  2px solid black;
    
}

#header {
    background-color: orange;
    width:  400px;
    height: 50px;
    border: 4px solid black;
    margin: 0 auto;
    position: relative;
    top:  50px;
    text-align: center;
}

h1  {
    margin-top: 5px;
}

#invoerveld {
    width:  400px;
    height: 50px;
    position: relative;
    margin: 0 auto;
    top: 75px;
    height: 50px;
}

#input  {
    width: 400px;
    background-color: darkblue;
    color: white;
    text-align: center;
    height: 50px;
}

#buttonDiv  {
    position: relative;
    margin: 0 auto;
    width: 400px;
    text-align: center;
    top: 125px;
    width: 125px;
    background-color: darkblue;
    border-radius: 25px;
    height: 50px;
}

#button {
    color: white;
    background-color: darkblue;
    border: 0px;
    width: 150px;
    border-radius: 25px;
    height: 50px
}

#voortgang {
    height: 20px;
    position: relative;
    margin: 0 auto;
    top: 150px;
    width: 400px;
    background-color: darkblue;
    color: white;
    text-align: center;
    border: 1px solid darkblue;
    height: 50px;
}

#score {
    height: 20px;
    position: relative;
    margin: 0 auto;
    top: 200px;
    width: 200px;
    color: darkblue;
    height: 50px;
}

#scoreUitslag {
    height: 20px;
    position: relative;
    margin: 0 auto;
    width: 200px;
    color: white;
    height: 50px;
    bottom: 50px;
    left: 200px;
    margin-top: 1px;
}
